.bottom {
  height: 5rem;
  background-color: var(--bottom);
  display: flex;
  justify-content: center;
  align-items: center;

  h5 {
    font-size: 16px;
    font-weight: normal;
    color: var(--p-text);
  }
  span {
    margin-left: 5px;
    font-size: 16px;
    font-weight: normal;
    color: var(--main-txt);
  }

  .icon {
    margin-left: 10px;
  }
}

@media screen and (max-width: 760px) {
  .bottom {
    h5,
    span {
      font-size: 14px;
    }
  }
}
