.card-section {
  min-height: 60vh;
  padding: 5rem 10rem;

  .title-center {
    display: flex;
    justify-content: center;
  }
  .card-title {
    padding-bottom: 5rem;
    h2 {
      font-size: 3rem;
    }
    .line {
      height: 5px;
      margin-left: 25%;
      width: 50%;
      margin-top: 1rem;
      background-color: var(--main-butt);
    }
    span {
      font-size: 3rem;
    }
  }

  .card-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      margin: 0.5rem 0.5rem;
      height: 480px;
      width: 320px;
      position: relative;
      box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }

    .card-content {
      transform: scale(0);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.8s ease-in-out;

      padding: 3rem;
      h5 {
        font-weight: normal;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 1rem;
      }
      h3 {
        font-weight: bold;
        font-size: 24px;
        color: #fff;
      }
    }
  }

  .card:hover .card-content {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.63);
    transform: scale(1);
    transition: 0.5s;
  }
}

//Card Pages
.card-page-container {
  img {
    transition: transform 0.5s ease;
  }
  .card {
    cursor: pointer;
  }
}
.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;

  img {
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
  }
}
.modal-open {
  opacity: 1;
  pointer-events: all;

  .img-open {
    transform: translate(-50%, -50%) scale(1);
  }
}
