.job-section {
  min-height: 90vh;
  padding: 5rem 20rem;

  .job-title {
    text-align: center;
    padding-bottom: 3rem;
    h2 {
      font-size: 3rem;
    }
    span {
      font-size: 3rem;
    }
  }

  //Button
  form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;

    .job-button {
      background-color: var(--main-butt);
      font-size: 14px;
    }
  }
}

.job-life {
  .experience-date {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 220px;
  }

  .experience-row {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .experience-date:before {
    content: "";
    position: absolute;
    top: 22px;
    width: 2px;
    background-color: #eeeeee;
    height: calc(100% + 9rem);
    left: calc(-50px + 15rem);
  }

  .experience-date:after {
    content: "";
    position: absolute;
    top: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(
      40deg,
      var(--main-butt) 0%,
      #fcc223 100%
    );
    left: 11.2rem;
    box-shadow: 0px 14px 20px 0px rgba(245, 191, 28, 0.377);
  }
  .separation {
    display: none;
  }
  h5 {
    font-size: 16px;
    font-weight: normal;
  }

  .experience-box {
    background: #303131;
    margin-right: 3rem;
    margin-left: 6rem;
    padding: 35px 50px;
    box-shadow: 0px 15px 30px 0px rgba(10, 10, 10, 0.315);
    width: 100%;
    p {
      font-size: 12px;
      padding-top: 10px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      color: var(--main-butt);
    }
  }

  //Look to improve
  .experience-date-last {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 220px;
  }

  .experience-date-last:after {
    content: "";
    position: absolute;
    top: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(
      40deg,
      var(--main-butt) 0%,
      #fcc223 100%
    );
    left: 11.2rem;
    box-shadow: 0px 14px 20px 0px rgba(245, 191, 28, 0.377);
  }
}

//Responsive
@media screen and (max-width: 1850px) {
  .job-section {
    padding: 5rem 15rem;
  }
}

@media screen and (max-width: 1650px) {
  .job-section {
    padding: 5rem 12rem;
  }
}

@media screen and (max-width: 1300px) {
  .job-section {
    padding: 5rem 9rem;
    .job-title {
      padding-bottom: 2rem;
      h2 {
        font-size: 2.5rem;
      }
      span {
        font-size: 2.5rem;
      }
    }
    .job-life {
      h5 {
        font-size: 14px;
      }
      .experience-box {
        p {
          font-size: 12px;
        }

        h4 {
          font-size: 18px;
        }

        h5 {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .job-section {
    padding: 5rem 7rem;
  }
}

@media screen and (max-width: 1000px) {
  .job-section {
    form {
      padding: 0;
    }
    padding: 5rem 4rem;
    .job-life {
      .experience-row {
        display: block;
      }
      .experience-date,
      .experience-date-last {
        display: flex;
        width: auto;
        padding-bottom: 10px;
        h5 {
          padding-right: 15px;
        }
        .separation {
          display: inline;
        }
      }
      .experience-date:after {
        display: none;
      }
      .experience-date-last:after {
        display: none;
      }
      .experience-date:before {
        display: none;
      }
      .experience-box {
        background: #303131;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .job-section {
    padding: 2.5rem 3rem;
    .job-life {
      .experience-box {
        padding: 25px 40px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .job-section {
    .job-life {
      .experience-date,
      .experience-date-last {
        h5 {
          font-size: 12px;
        }
      }
    }
  }
}
