.main-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  .main-about {
    flex: 1;
    padding-right: 5rem;
    h2 {
      font-weight: normal;
    }
  }

  p {
    padding: 3rem 0rem;
  }

  .main-photo {
    flex: 1;
    overflow: hidden;
    img {
      width: 100%;
      height: 60vh;
      object-fit: cover;
    }
  }
}

//Responsive
@media screen and (max-width: 1850px) {
  .main-section {
    padding: 5rem 8rem;
  }
}

@media screen and (max-width: 1650px) {
  .main-section {
    padding: 5rem 5rem;
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.1rem;
    }
    span {
      font-size: 3rem;
    }
    button {
      font-size: 1rem;
    }
  }
}

//Responsive
@media screen and (max-width: 1300px) {
  .main-section {
    padding: 5rem 3rem;
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      padding: 1.5rem 0rem;
    }
    span {
      font-size: 2.5rem;
    }
    button {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-section {
    .main-about {
      padding: 0;
    }
  }
  .main-photo {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .main-section {
    padding: 2.5rem 3rem;
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.8rem;
      padding: 1.3rem 0rem;
    }
    span {
      font-size: 2.3rem;
    }
    button {
      font-size: 0.7rem;
    }
  }
}
