.nav-bar {
  height: 10vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg);
  padding: 1rem 10rem;
  position: sticky;
  top: 0;
  z-index: 10;
  img {
    height: 6.5vh;
    width: auto;
    object-fit: contain;
    cursor: pointer;
  }
  li a {
    text-decoration: none;
    position: relative;

    padding: 0rem 0.1rem 0.5rem 0.1rem;
  }
  ul {
    display: flex;
    list-style: none;
  }
  li {
    padding-left: 10rem;
  }
  /*NavBar animation*/
  li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--main-butt);
    overflow: hidden;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    z-index: 0;
  }
}
