.nav-bar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg);
  padding: 1rem 10rem;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  img {
    height: 50px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
  }
  li a {
    text-decoration: none;
    position: relative;

    padding: 0rem 0.1rem 0.5rem 0.1rem;
  }
  .nav-menu {
    display: flex;
    list-style: none;
  }
  li {
    padding-left: 10rem;
  }
  /*NavBar animation*/
  li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--main-butt);
    overflow: hidden;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    z-index: 0;
  }
}

.nav-bar-visible {
  position: static;
}

//menu responsive
.menu-icon {
  display: none;
}

//Responsive

@media screen and (max-width: 1400px) {
  .nav-bar {
    padding: 1rem 6rem;
  }
}

@media screen and (max-width: 1024px) {
  .menu-icon {
    display: block;
    font-size: 1rem;
    cursor: pointer;
  }
  .nav-bar {
    padding: 1rem 5rem;
    .nav-menu {
      position: absolute;
      z-index: 100;
      right: 0px;
      height: 90vh;
      top: 90px;
      background-color: #303131;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-right: 0%;
      transform: translateX(100%);
      transition: all 0.5s ease-out;
    }
    li {
      padding-left: 0;
      width: 100%;
    }
    li a {
      display: flex;
      padding: 3rem 0rem;
      align-items: center;
      justify-content: center;
    }
    .nav-menu-active {
      transform: translateX(0%);
    }
    li a::before {
      display: none;
    }

    li a:hover::before {
      display: none;
    }
    li:hover {
      background-color: var(--main-bg);
    }
  }
}

@media screen and (max-width: 760px) {
  .nav-bar {
    padding: 1rem 3rem;
  }
}
