.skill-section {
  min-height: 60vh;
  // background-color: #303131;
  padding: 5rem 20rem;

  .skill-title {
    text-align: center;
    padding-bottom: 5rem;
  }

  .skills {
    min-height: 40vh;
  }
  .skill {
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 40px;
    padding: 0rem 2rem;

    .skill-info {
      align-items: center;
      height: 1.5rem;
    }
    h4 {
      font-size: 14px;
      font-weight: bold;
      float: left;
      text-transform: uppercase;
      color: var(--p-text);
    }
    .skill-val {
      float: right;
    }
    .note {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .skill-but {
    margin-top: 5px;
    height: 1.5rem;
    .skill-hold {
      background-color: #999999;
      display: block;
      height: 8px;
      width: 100%;
      border-radius: 30px;
    }
    .skill-bar {
      height: 8px;
      float: left;
      border-radius: 30px;
      background-color: var(--main-butt);
    }
  }
}
