.skill-section {
  min-height: 60vh;
  background-color: #303131;
  padding: 5rem 25rem;

  .skill-title {
    text-align: center;
    padding-bottom: 5rem;
    h2 {
      font-size: 3rem;
    }
    span {
      font-size: 3rem;
    }
  }

  .skills {
    min-height: calc(40px * 8);
  }
  .skill {
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 40px;
    padding: 0rem 2rem;

    .skill-info {
      align-items: center;
      height: 1.5rem;
    }
    h4 {
      font-size: 14px;
      font-weight: bold;
      float: left;
      text-transform: uppercase;
      color: var(--p-text);
    }
    .skill-val {
      float: right;
    }
    .note {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .skill-but {
    margin-top: 5px;
    height: 1.5rem;
    .skill-hold {
      background-color: #999999;
      display: block;
      height: 8px;
      width: 100%;
      border-radius: 30px;
    }
    .skill-bar {
      height: 8px;
      float: left;
      border-radius: 30px;
      background-color: var(--main-butt);
    }
  }
}

//Responsive
@media screen and (max-width: 1850px) {
  .skill-section {
    padding: 5rem 21rem;
    .skill {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1650px) {
  .skill-section {
    padding: 3rem 15rem;
    padding-bottom: 5rem;
    .skill-title {
      padding-bottom: 3rem;
    }
    .skill {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .skill-section {
    padding: 5rem 9rem;
    .skill-title {
      padding-bottom: 2rem;
      h2 {
        font-size: 2.5rem;
      }
      span {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.1rem;
      }
    }

    .skill {
      h4 {
        font-size: 12px;
      }
      .note {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .skill-section {
    padding: 5rem 7rem;
  }
}

@media screen and (max-width: 1024px) {
  .skill-section {
    padding: 5rem 4rem;
  }
}

@media screen and (max-width: 760px) {
  .skill-section {
    padding: 2.5rem 3rem;
    .skills {
      min-height: calc(32px * 16);
    }
    .skill {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
