:root {
  --main-bg: #2b2c2c;
  --main-txt: white;
  --nav-bg: #3c3d3d;
  --main-butt: #ffbb00;
  --p-text: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
 
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

body {
  background: var(--main-bg);
  font-family: Poppins;
  color: var(--main-txt);
}

button {
  font-weight: normal;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid var(--main-butt);
  background: transparent;
  color: var(--main-txt);
  transition: all 0.5s ease;
  font-family: Poppins;
  border-radius: 50px;
  outline: none;
  &:hover {
    background-color: var(--main-butt);
    color: white;
  }
}

input,
textarea {
  font-family: Poppins;
  background: #303131;
  color: #fff;
  border: none;
  border-radius: 6px;
}

h2 {
  font-weight: normal;
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
  font-weight: normal;
}
h4 {
  font-weight: normal;
  font-size: 1.5rem;
}
a {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: var(--main-txt);
}
span {
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--main-butt);
}
p {
  color: var(--p-text);
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: lighter;
}

//Import sass styles to the app
@import "./main";
@import "./navbar";
@import "./skills";
@import "./jobs";
@import "./about";
@import "./bottom";
@import "./cards";
@import "./contact";
