:root{
    --main-bg: #3c3d3d;
    --main-txt: #f2f5f8;
}


.main-section{
    height: 90vh;
    background: var(--main-bg);
    display: grid;
    justify-content: center;
    grid-template-columns: 5% 1fr 1fr 5%;
}

.main-about{
   grid-column: 2/2;
   margin: auto;
   color: var(--main-txt);
   font-family: 'Segoe UI';
   font-weight: normal;
}

.main-about h3{
    font-size: 25px;
    color: (var(--main-txt));
    margin: 4%;
    margin-left: 0;
    font-weight: normal;
}

.main-about h1{
    font-size: 40px;
    color: #ffffff;
    font-weight:bold;
    margin: 1%;
    margin-left: 0;
}

.main-about p{
    color: (var(--main-txt));
    font-size: 20px;
    margin: 4%;
    margin-left: 0%;
}

.main-photo{
    overflow: hidden;
    height: auto;
    align-self: center;
    justify-self: center;
    display: flex;
    width: 100%;
}

