:root{
    --nav-width: 10vh;
    --nav-bg: #3c3d3d;
    --nav-text-color: #dbdbdb;
}

.nav-bar{
    display: flex;
    align-items: center;
    height: var(--nav-width);
    background-color: var(--nav-bg); 
}

.navbar-left{
    margin-left: 5%;
    justify-content: flex-start;
    height: var(--nav-width);
    display: flex;
    width: auto;
}

.navbar-tittle{
    color: var(--nav-text-color);
    width: auto;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 18px;
    margin: auto;
}

.navbar-logo{
    height: var(--nav-width);
    width: var(--nav-width);
}

.navbar-logo-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar-right{
    margin-left: auto;
    margin-right: 5%;
    justify-content: flex-end;
    height: var(--nav-width);
    display: flex;
}

.nav-links{
    display: flex;
    justify-content: space-around;      
}

.nav-item{
    list-style: none;
}

.nav-item a{
    color: var(--nav-text-color);
    margin: 25px;
    display: flex;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: normal;
    font-size: 14px;
}

.nav-menu{
    display: none;
    margin-right: 10%;
}

.nav-menu div{
    width: 25px;
    height: 3px;
    background-color: #effcfc;
    margin: 5px;
    /* transition back to the animation */
    transition: all 0.3s ease-out;
}

/* --- NAV MENU ANIMATION --- */ 
@media screen and (max-width: 900px){
   .nav-links{
       position: absolute;
       z-index: 1;
       right: 0px;
       height: 92vh;
       top: 100px;
       background-color: var(--bg);
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       margin: 0;
       transform: translateX(100%);
       transition: all 0.5s ease-out;
   }

   .navbar-tittle{
       font-size: 15px;
       letter-spacing: 1.5px;
   }

    .nav-links li{
       opacity: 0;
   }
   .nav-menu{
       display: block;
       cursor: pointer;
   } 
}
